<section
  class="px-8
   bg-indigo-500 text-white font-manrope flex flex-col items-center border-b border-white/20"
>
  <div class="max-w-7xl w-full py-12 flex flex-col gap-4">
    <h1 class="text-8xl font-DM" data-aos="fade-up">
      Start Building a More Efficient Operation Today
    </h1>

    <h2 class="text-3xl font-medium" data-aos="fade-up" data-aos-delay="100">
      Discover how much you can save and how fast you can scale.
    </h2>

    <div class="flex items-center gap-8">
      <button class="ring-2 px-4 py-2"
      data-aos="zoom-in"
      data-aos-delay="200"
      > Get a Analysis </button>
      <button class="ring-2 px-4 py-2"
      data-aos="zoom-in"
      data-aos-delay="300"
      > Book a Strategy Call </button>
    </div>
  </div>
</section>
