<section class="px-8 py-40 max-w-7xl m-auto font-manrope flex flex-col gap-8">
  <h1 class="text-6xl text-center font-semibold" data-aos="fade-up">
    Not a Call Center. An Operational <br />
    <span class="text-indigo-500 font-DM font-medium">
      Engineering Company.
    </span>
  </h1>

  <div class="grid grid-cols-2">
    <div
      class="border border-r-0 border-neutral-200 py-12 px-8 h-96 justify-center flex flex-col gap-4"
    >
      <h2
        class="text-4xl font-DM font-semibold text-neutral-500"
        data-aos="fade-up"
      >
        Traditional BPO
      </h2>
      <ul class="text-2xl text-neutral-400">
        <li data-aos="zoom-in" class="py-2 border-b-4 border-black/10">
          Task execution
        </li>
        <li data-aos="zoom-in" class="py-2 border-b-4 border-black/10">
          Limited visibility
        </li>
        <li data-aos="zoom-in" class="py-2 border-b-4 border-black/10">
          Reactive support
        </li>
      </ul>
    </div>

    <div
      class="border border-neutral-200 py-12 px-8 h-96 justify-center flex flex-col gap-4 bg-indigo-500 text-white relative"
    >
      <div class="flex flex-col gap-2">
        <div
        data-aos="zoom-in"
          class="flex items-center gap-3 px-4 py-1 bg-white text-indigo-500 font-medium rounded-full w-fit absolute top-4 right-4"
        >
          Process design and optimization

          <div class="size-3 bg-indigo-600 rounded-full relative">
            <div
              class="size-3 bg-indigo-600 rounded-full absolute animate-ping"
            >
            </div>
          </div>
        </div>
        <h2 class="text-4xl font-DM font-semibold" data-aos="fade-up">
          INVERCON Logistic
        </h2>
      </div>

      <ul class="text-2xl">
        <li data-aos="zoom-in" class="py-2 border-b-4 border-white/10">
          Data-driven decision making
        </li>
        <li data-aos="zoom-in" class="py-2 border-b-4 border-white/10">
          Proactive performance improvement
        </li>
        <li data-aos="zoom-in" class="py-2 border-b-4 border-white/10">
          Integrated operational systems
        </li>
      </ul>
    </div>
  </div>
</section>
