---
const steps = [
  {
    step: 1,
    title: "Discovery Call",
    description:
      "We analyze your current operations and identify opportunities.",
  },
  {
    step: 2,
    title: "Custom Strategy",
    description: "We design a tailored nearshore solution.",
  },
  {
    step: 3,
    title: "Pilot Team Launch",
    description: "Start with a small, high-impact team.",
  },
  {
    step: 4,
    title: "Scale Operations",
    description: "Expand based on performance and results.",
  },
];
---

<section 
id="howitworks"
class="px-8 py-40 max-w-7xl m-auto font-manrope flex flex-col gap-16">
  <h1 class="text-8xl font-medium" data-aos="fade-up">
    Simple. <br />Fast. <br />Scalable.
  </h1>

  <div class="flex flex-col gap-32">
    {
      steps.map((step) => (
        <div class="flex items-start gap-12 relative ">
          <div
            data-aos="fade-right"
            class="size-20 bg-indigo-500 text-white flex items-center justify-center rounded-full text-5xl"
          >
            {step.step}
          </div>
          <div>
            <h2 class="font-DM text-4xl text-indigo-500" data-aos="fade-up">
              {step.title}
            </h2>
            <p
              data-aos="fade-up"
              data-aos-delay="100"
              class="text-2xl font-medium text-neutral-600"
            >
              {step.description}
            </p>
          </div>

          {step.step < steps.length && (
            <span
              data-aos="zoom-in"
              class="border absolute h-full top-[130%] left-10 border-neutral-300"
            />
          )}
        </div>
      ))
    }
  </div>
</section>
