<section class="px-8 py-40 max-w-7xl m-auto font-DM flex flex-col gap-8">
  <h1 class="text-6xl text-center font-medium" data-aos="fade-up">
    Proven
    <span class="font-manrope text-indigo-500 font-semibold results">
      Results
    </span>
    Across Industries
  </h1>

  <div class="grid grid-cols-2 gap-8 gridContainer">
    <div data-aos="zoom-out">
      <h2>Healthcare Company</h2>
      <p><span> 64% </span>payroll cost reduction.</p>
      <p><span> 48%</span> decrease in billing rejections.</p>
    </div>
    <div data-aos="zoom-out">
      <h2>SaaS Startup</h2>
      <p><span> 58%</span> cost savings.</p>
      <!-- <p>Product launched <span> 6 </span> weeks earlier.</p> -->
      <p><span> 42%</span> increase in inbound leads.</p>
    </div>

    <div data-aos="zoom-out">
      <h2>Legal Firm</h2>
      <p><span> 62%</span> operational cost reduction.</p>
      <p>Contract backlog eliminated in <span> 8</span> weeks.</p>
    </div>

    <div data-aos="zoom-out">
      <h2>E-commerce Company</h2>
      <p><span> 55%</span> savings in administrative costs.</p>
      <p>Faster financial closing cycles.</p>
    </div>
  </div>
</section>

<style>
  p {
    font-size: 2rem;
    color: oklch(43.9% 0 0);
  }

  span {
    color: oklch(58.5% 0.233 277.117);
    font-size: 3rem;
  }

  .results {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 3.1rem;
    color: oklch(37.1% 0 0);
  }

  div {
    border-bottom: 2px solid oklch(92.2% 0 0);
    padding: 24px 0px;
  }

  .gridContainer {
    border: 0;
  }
</style>
