---
const elements = [
  "Process engineering approach",
  "KPI-driven execution",
  "Integrated operations model",
  "Continuous optimization",
];
---

<section class="px-8 py-40 font-manrope max-w-7xl m-auto">
  <div
    class="bg-indigo-500 rounded-lg flex flex-col gap-8 py-32 px-16 text-white text-center justify-center"
  >
    <div class="flex flex-col gap-4">
      <h1 class="text-6xl">
        We Engineer Your Operations for <br />

        <span class="font-DM font-semibold">
          Performance and Scale
        </span>
      </h1>

      <h2 class="text-2xl">
        A nearshore BPO model built on data, process optimization, and real-time
        collaboration.
      </h2>

        <p class="font-medium">
        At INVERCON Logistic, we design, implement, and manage operational
        systems that integrate logistics, customer service, and administrative
        workflows under one strategic framework.
      </p>
    </div>

    <ul class="flex items-center flex-wrap justify-center gap-6">
      {
        elements.map((e) => (
          <li class="ring-2 rounded-full text-lg px-4 py-1 bg-white text-indigo-500 font-medium font-DM">
            {e}
          </li>
        ))
      }
    </ul>
  </div>
</section>
