<div class="w-full relative font-manrope h-dvh max-h-200">
  <div
    id="home"
    class="flex flex-col items-center justify-center max-w-7xl m-auto text-center gap-8 text-white py-60"
  >
    <div
      class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
    </div>

    <div class="flex flex-col items-center gap-3 w-full">
      <h1 class="text-6xl font-medium font-manrope" data-aos="fade-up">
        Scale Your Operations with <br />
        <span class="text-indigo-500 font-semibold font-DM">
          Engineering Precision</span
        >
      </h1>

      <h2 class="text-lg w-1/2" data-aos="fade-up" data-aos-delay="100">
        Nearshore BPO services designed to reduce costs, optimize
        workflows, and deliver measurable operational results.
      </h2>
    </div>

    <!-- <p>
      We are not a call center. We are an operational engineering partner that
      transforms logistics, customer experience, and back-office processes into
      scalable, high-performance systems.
    </p> -->

    <div class="flex items-center gap-8 text-xl">
      <button
        data-aos="fade-down"
        class="ring-2 ring-indigo-500 px-8 py-3 rounded-full bg-indigo-500 text-white"
      >
        Book a Strategy Call
      </button>
      <button
        data-aos="fade-down"
        class="ring-2 px-8 py-3 rounded-full text-white"
        >Get a Analysis</button
      >
    </div>
  </div>
</div>

<!-- <div>
  <span>
    Trusted by U.S. companies across logistics, SaaS, healthcare, and finance
  </span>
  <span> Up to 60% operational cost reduction </span>
  <span> Real-time collaboration in your time zone </span>
</div> -->
